<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>HomeCoins</title>
    <link
      href="/static/landing_page_vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/landing_page_vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/landing_page_vendor/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" 
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/static/landing_page_css/landing-page.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="overlay"></div>
      <div class="container" style="padding-top: 20px; text-align: center;">
        <a class="button" href="#about">Om Tjänsten</a>
        <a class="button" href="/login-page">Registrera Dig / Logga In</a>
      </div>
      <video
        playsinline="playsinline"
        autoplay="autoplay"
        muted="muted"
        loop="loop"
      >
        <source
          src="/static/images/Ikea.mp4"
          type="video/mp4"
        />
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1 class="display-3">HomeCoins</h1>
            <p class="lead mb-0">Tjänsten som tar ditt hem till nya höjder!</p>
          </div>
        </div>
      </div>
    </header>
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-home m-auto text-primary"></i>
              </div>
              <h3>Samarbeta</h3>
              <p class="lead mb-0">
                Få ett välfungerande och rofyllt hem på nolltid.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-pie-chart m-auto text-primary"></i>
              </div>
              <h3>Organisera</h3>
              <p class="lead mb-0">
                Håll koll på vem som har ansvar för att göra vad.
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-trophy m-auto text-primary"></i>
              </div>
              <h3>Tävla</h3>
              <p class="lead mb-0">
                Se vem i familjen som kan samla flest Coins under en bestämd tid.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div
            class="col-lg-6 order-lg-2 text-white showcase-img"
            style="background-image: url('/static/landing_page_images/Logotype.png');"
          ></div>
          <div class="Side-color-left"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Vad är HomeCoins?</h2>
            <p class="lead mb-0">
              Blir det ofta stökigt hemma? Med HomeCoins uppmuntras familjemedlemmar att hjälpa 
              till med hushållssysslor för att skapa ett rättvist hem med stark gemenskap där alla hjälps åt.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 text-white showcase-img"
            style="background-image: url('/static/landing_page_images/Family.jpg');"
          ></div>
          <div class="Side-color-right"></div> 
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Som förälder</h2>
            <p class="lead mb-0">
              Som förälder skapar du ett konto för ditt och din familjs hem som du sedan lägger till de andra familjemedlemmarna i. 
              På ditt och din partners konto har du översikt över din familjs avslutade och kommande sysslor. Du kan även skapa nya sysslor, poängsätta dem och tilldela dem till familjemedlemmar.
            </p>
          </div>
        </div>
        <div class="row no-gutters">
          <div
            class="col-lg-6 order-lg-2 text-white showcase-img"
            style="background-image: url('/static/landing_page_images/Kids.jpg');"
          ></div>
          <div class="Side-color-left"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Som barn</h2>
            <p class="lead mb-0">
              Efter att någon i hemmet har utfört en syssla delas mynt ut. Barnen har på sina konton möjlighet att se alla sina tilldelade sysslor och antal mynt som har samlats ihop.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Vem är HomeCoins?</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="/static/landing_page_images/gustaf.jpg"
                alt=""
              />
              <h5>Gustaf Lagerqvist</h5>
              <p class="font-weight-light mb-0">
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="/static/landing_page_images/niklas.jpg"
                alt=""
              />
              <h5>Niklas Hellgren</h5>
              <p class="font-weight-light mb-0">
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="/static/landing_page_images/edvin.jpg"
                alt=""
              />
            </div>
              <h5>Edvin Mlivic</h5>
              <p class="font-weight-light mb-0">
              </p>
            </div>
          </div>
          <div class="row" id="row-2">
          <div class="col-lg-5 spejs">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="/static/landing_page_images/anton.jpg"
                alt=""
              />
              <h5>Anton Stålhandske</h5>
              <p class="font-weight-light mb-0">
              </p>
            </div>
          </div>
          <div class="col-lg-5 spejs">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img
                class="img-fluid rounded-circle mb-3"
                src="/static/landing_page_images/victor.jpg"
                alt=""
              />
              <h5>Victor Håkansson</h5>
              <p class="font-weight-light mb-0">
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item"><a href="#">Contact</a></li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item"><a href="#">Terms of Use</a></li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">
              &copy; HomeCoins 2019. All Rights Reserved.
            </p>
            <div class="text-muted small mb-4 mb-lg-0">Icons made by <a href="https://www.flaticon.com/authors/freepik" 
              title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 		    
              title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    
              title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#"> <i class="fab fa-facebook fa-2x fa-fw"></i> </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#"> <i class="fab fa-instagram fa-2x fa-fw"></i> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/static/landing_page_vendor/jquery/jquery.min.js"></script>
    <script src="/static/landing_page_vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
