<html lang="sv">
    <head>
        <title>HomeCoins</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/style.css" type="text/css" rel="stylesheet">
        <link href="/static/reset.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">
        <!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <header id="head">
               <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                  <a class="navbar-brand" href="#">HomeCoins</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="/">Logga ut</a>
                      </li>
                      <form action="" method="post" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="Sök efter syssla..." aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sök</button>
                    </form>
                    </ul>
                  </div>
                </nav>
            </header>
    <div id="container">