<!DOCTYPE html>
<html lang=sv>

<head>
  <title>Dashboard ·HomeCoins</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/style.css" type="text/css" rel="stylesheet">
  <link href="/static/reset.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">
  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/burger2.css">
</head>

<body>
  <header id="head">
    <div class="nav-toggle">
      <div class="nav-toggle-bar">
        
      </div>
      
    </div>
    <nav class="nav">
      <ul>
        <h4>Meny</h4>
          <li><a href="/add-subuser/{{UId}}">Lägg till användare</a></li>
          <li><a href="/create-issue/{{UId}}">Lägg till ny syssla</a></li>
          <li id="LogOutButton"><a href="/">Logga ut</a></li>
        </ul>

        <ul>
          <h4>Inaktiva länkar</h4>
          <li><a href="#">Inaktiv länk</a></li>
          <li><a href="#">Inaktiv länk</a></li>
          <li><a href="#">Inaktiv länk</a></li>
          <li><a href="#">Inaktiv länk</a></li>
          <li><a href="#">Inaktiv länk</a></li>
          <li><a href="#">Inaktiv länk</a></li>
          <li><a href="#">Inaktiv länk</a></li>
          <li id="LogOutButton"><a href="#">Inaktiv länk</a></li>
        </ul>
      </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <h1>{{HomeInfo[0]}}</h1>
          <li class="nav-item active">
            <a class="nav-link" href="#"><img src="/static/images/Logotype.png" style="height: 50px; width: 50px;" ></a>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <div id="container">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
      </div>
