% include("_header2_.html") 
<h1>Användare:</h1>
<div class="row">
    % for User in Users:
    <div class="item col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/user-details/{{UId}}/{{User[0]}}" style=" background-color: #55595c">
          <img src="/static/images/User_Avatar.png" style="display: block; height: 180px; width: 180px; margin: 20px auto 20px auto;">
        </a>
        <div class="card-body">
          <p class="card-text">{{User[1]}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/edit-user/{{UId}}/{{User[0]}}">
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </a>
            </div>
            <small class="text-muted">Admin: {{User[3]}}</small>
          </div>
        </div>
      </div>
    </div>
    % end
  </div>
<hr>
<h1>Sysslor:</h1>
  <div class="container">
    <div class="row">
          % for Chore in Chores:
          <div class="item col-md-4">
            <div class="card mb-4 shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" 
                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" 
                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                  <title>{{Chore[1]}}</title>
                  <rect width="100%" height="100%" fill="#55595c"></rect>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{Chore[1]}}</text>
              </svg>
              <div class="card-body">
                <p class="card-text">{{Chore[2]}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/edit-chore/{{UId}}/{{Chore[0]}}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </a>
                  </div>
                  <small class="text-muted">{{Chore[3]}} <img src="/static/images/Logotype.png" style="height: 10px; width: 10px;" ></small>
                  <small class="text-muted">{{Chore[5]}}</small>
                </div>
              </div>
            </div>
          </div>
          % end
      </div>
  </div>
% include("_footer2_.html") 
