% include("_header2_.html")
<div id="successMessage">

<h1 class="Name">
  <span class="word"><img class="logo" src="/static/landing_page_images/Logotype.png" alt="Home Coins Logo"></span>
  <span class="word">Home</span>
  <span class="word">Coins</span>
</h1>
</div>

<h3 class="headlines">Familjemedlemmar</h3>
<p id="suicideerror" style="text-align: center" class="{{ error['SuicideError'] }}">Du kan inte radera dig själv!</p>
<div class="row">
    % for User in Users:
    <div class="item col-md-4">
      <div class="card mb-4 shadow-sm">
        <a href="/user-details/{{UserId}}/{{User[0]}}">
          <img src="{{User[4]}}" class="avatar">
        </a>
        <div class="card-body">
          <p class="card-text">{{User[1]}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a class="icon" href="/edit-user/{{UserId}}/{{User[0]}}">
                <img src="/static/images/baseline-edit-24px.svg"/>
              </a>
              <a class="icon" href="/DeleteUser/{{UserId}}/{{User[0]}}">
                <img src="/static/images/baseline-delete-24px.svg"/>
              </a>
            </div>
            % if User[3]:
              <small class="text-muted"><strong>Förälder</strong></small>
            % else:
              <small class="text-muted"><strong>Barn</strong></small>
            % end
          </div>
        </div>
      </div>
    </div>
    % end
  </div>
<h3 class="headlines">Pågående Sysslor</h3>
<div class="container">
  <div class="row">
        % for Chore in Chores:
        <div class="item col-md-4 choresitems">
          <div class="card mb-4 shadow-sm">
            <div class="iconHolder">
              <img class="choreIcon" src="{{Chore[7]}}">
            </div>
            <div class="card-body">
              <p class="card-text">{{Chore[1]}}</p>
              <div class="">
                <div class="btn-group">
                  <a class="icon" href="/CompleteChore/{{UserId}}/{{Chore[0]}}">
                    <img src="/static/images/baseline-check_circle-24px.svg"/>
                  </a>
                  <a class="icon" href="/EditChore/{{UserId}}/{{Chore[0]}}">
                    <img src="/static/images/baseline-edit-24px.svg"/>
                  </a>
                  <a class="icon" href="/DeleteChore/{{UserId}}/{{Chore[0]}}">
                    <img src="/static/images/baseline-delete-24px.svg"/>
                  </a>
                </div>
                <ul class="listinfo">
                  <li>
                    <small class="text-muted"><strong>Värde:</strong> {{Chore[3]}} <img src="/static/images/Logotype.png" style="height: 15px; width: 15px;"></small>
                  </li>
                  <li>
                    <small class="text-muted">S<strong>Ansvar:</strong> {{Chore[5]}}</small>
                  </li>
                  <li>
                    <small class="text-muted"><strong>Görs senast:</strong> {{Chore[6]}}</small>
                  </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        % end
    </div>
</div>
<h3 class="headlines">Avklarade Sysslor</h3>
<div class="container">
<div class="row">
      % for Completed in CompletedChores:
      <div class="item col-md-4 completed">
        <div class="card mb-4 shadow-sm">
          <div class="iconHolder">
            <img class="choreIcon" src="{{Completed[7]}}">
          </div>
          <div class="card-body">
            <p class="card-text">{{Completed[1]}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="icon" href="/DeleteChore/{{UserId}}/{{Completed[0]}}">
                  <img src="/static/images/baseline-delete-24px.svg"/>
                </a>
              </div>
              <small class="text-muted"><strong>Värde:</strong> <br>{{Completed[3]}} <img src="/static/images/Logotype.png" style="height: 15px; width: 15px;"></small>
              <small class="text-muted"><strong>Utfört av:</strong> <br>{{Completed[5]}}</small>
              <small class="text-muted"><strong>Avklarad:</strong> <br>{{Completed[6]}}</small>
            </div>
          </div>
        </div>
      </div>
      % end
  </div>
</div>
% include("_footer2_.html")
