% include("_header2_.html")
            <h3>Skapa en ny syssla nedan:</h3>
            <form action="/choreReg/{{UserId}}" method="post">
                <div class="form-row">
                  <div class="form-group col-md-3">
                      <label for="InputNameIssue">Namn på sysslan</label>
                      <input class="form-control" name="InputNameIssue" id="InputNameIssue" placeholder="Namn på syssla..." required>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="CommentIssue">Kommentar om sysslan</label>
                        <textarea class="form-control" name="CommentIssue" id="CommentIssue" placeholder="Kommentar om syssla..." required></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="WorthIssue">Hur många <img src="/static/images/Logotype.png" style="height: 20px; width: 20px;" > är sysslan värd?</label>
                        <input class="form-control" maxlength="3" name="WorthIssue" id="WorthIssue" type="" placeholder=" Ange en siffra mellan 1 - 999" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="UserIssue">Tilldela sysslan till en famijemedlem</label>
                        <select name="UserIssue" class="custom-select" id="inputGroupSelect01" required>
                            <option selected>Välj familjemedlem...</option>
                            % for User in Users:
                            <option value="{{User[0]}}">{{User[1]}}</option>
                            % end
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="Deadline">När ska sysslan vara utförd?</label>
                        <input class="form-control" name="Deadline" id="Deadline" type="date" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <select name="inputChoreCategory" class="custom-select" id="inputGroupSelect01" required>
                            <option selected>Välj kattegori...</option>
                            % for Category in Categories:
                            <option value="{{Category[1]}}">{{Category[0]}}</option>
                            % end
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Spara</button>
            </form>
% include("_footer2_.html")