% include("_header2_.html")
        <h3>Ändra uppgifter för användare nedan:</h3>
        <form action="/update-user/{{UserId}}/{{User[0]}}" method="post">
          <input type="hidden" id="userRole" name="userRole" value="2">
            <div class="form-group col-md-3">
              <label for="inputUserName4">Fullständigt Namn</label>
              <input type="text" class="form-control" name="inputUserName4" id="inputUserName4" value="{{User[1]}}" required>
            </div>
            <div class="form-group col-md-3">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control {{ error['emailError'] }}" name="inputEmail4" id="inputEmail4" value="{{User[2]}}" required>
            </div>
            % if int(UserId) == int(User[0]):
            <div class="form-group col-md-3">
              <input type="radio" id="inputAdmin4" value="true" name="inputAdmin4" checked hidden><br>
              <input type="radio" id="inputAdmin4" value="false" name="inputAdmin4" hidden><br>
              <p id="parenterror">Det måste finnas minst en förälder i varje hem!</p>
            </div>
            % else:
            <div class="form-group col-md-3">
              <input type="radio" id="inputAdmin4" value="true" name="inputAdmin4" checked>Förälder<br>
              <input type="radio" id="inputAdmin4" value="false" name="inputAdmin4">Barn<br>
              <p id="parenterror">Det måste finnas minst en förälder i varje hem!</p>
            </div>
            % end
            <div class="form-group col-md-3">
              <select name="inputAvatar4" class="custom-select" id="inputGroupSelect01" required>
                <option selected>Ändra Avatar...</option>
                % for Avatar in Avatars:
                <option value="{{Avatar[1]}}">{{Avatar[0]}}</option>
                % end
              </select>
            </div>
          <button type="submit" class="btn btn-primary">Spara</button>
        </form>
        <style>#parenterror {
            display: none;
          }</style>
% include("_footer2_.html")
