% include("_header2_.html")

        <form action="/subuser-registration/{{UserId}}" method="post">
          <fieldset>
          <legend><h3 class="form_headline">Registrera användare nedan</h3></legend>
          <input type="hidden" id="userRole" name="userRole" value="2">
            <div class="form-group col-md-3">
              <input type="text" class="form-control" name="inputUserName4" id="inputUserName4" placeholder="Förnamn..." required>
            </div>
            <div class="form-group col-md-3">
              <input type="email" class="form-control {{ error['emailError'] }}" name="InputUserEmail1" id="InputUserEmail1" placeholder="Email..." required>
            </div>
            <div class="form-group col-md-3">
              <input type="password" class="form-control" name="inputPassword4" id="inputPassword4" placeholder="Lösenord..." required>
            </div>
            <div class="form-group col-md-3">
              <select name="inputAvatar4" class="custom-select" id="inputGroupSelect01" required>
                <option selected>Välj Avatar...</option>
                % for Avatar in Avatars:
                <option value="{{Avatar[1]}}">{{Avatar[0]}}</option>
                % end
              </select>
            </div>
            <div class="form-group col-md-3">
              <input type="radio" id="inputAdmin4" value="true" name="inputAdmin4" checked> Förälder<br>
              <input type="radio" id="inputAdmin4" value="false" name="inputAdmin4"> Barn<br>
            </div>
          <button type="submit" class="btn btn-primary">Spara</button>
        </fieldset>
        </form>
% include("_footer2_.html")
