% include("_header2_.html")
<div class="media">
    <img src="{{UserInfo[5]}}" class="align-self-center mr-3" alt="Avatar" style="height: 100px; width: 100px;">
    <div class="media-body">
        <h5 class="mt-0">Namn: {{UserInfo[1]}}</h5>
        <p>Email: {{UserInfo[2]}}</p>
        <p>Coins: {{Coins[0]}} <img src="/static/images/Logotype.png" style="height: 20px; width: 20px;" ></p>
        % if UserInfo[3]:
          <p class="mb-0">Förälder</p>
        % else:
          <p class="mb-0">Barn</p>
        % end
    </div>
</div>
<hr>
<h3 class="headlines">Sysslor</h3>
<div class="row">
  % for Chore in ChoreInfo:
  <div class="col-md-4 item">
    <div class="card mb-4 shadow-sm">
      <div class="iconHolder">
        <img class="choreIcon" src="{{Chore[8]}}">
      </div>
      <div class="card-body">
        <p class="card-text">{{Chore[2]}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/CompleteChore/{{UserId}}/{{Chore[0]}}">
              <img src="/static/images/baseline-check_circle-24px.svg"/>
            </a>
            <a href="/EditChore/{{UserId}}/{{Chore[0]}}">
              <img src="/static/images/baseline-edit-24px.svg"/>
            </a>
            <a href="/DeleteChore/{{UserId}}/{{Chore[0]}}">
              <img src="/static/images/baseline-delete-24px.svg"/>
            </a>
          </div>
          <small class="text-muted"><strong>Värde:</strong> <br>{{Chore[3]}} <img src="/static/images/Logotype.png" style="height: 15px; width: 15px;" ></small>
          <small class="text-muted"><strong>Görs senast:</strong> <br>{{Chore[6]}} </small>
        </div>
      </div>
    </div>
  </div>
  % end
</div>
<hr>
<h3 class="headlines">{{UserInfo[1]}}s avklarade Sysslor</h3>
<div class="row">
  % for Completed in CompletedChores:
  <div class="col-md-4 item completed">
    <div class="card mb-4 shadow-sm">
      <div class="iconHolder">
        <img class="choreIcon" src="{{Completed[8]}}">
      </div>
      <div class="card-body">
        <p class="card-text">{{Completed[1]}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="/DeleteChore/{{UserId}}/{{Completed[0]}}">
              <img src="/static/images/baseline-delete-24px.svg"/>
            </a>
          </div>
          <small class="text-muted"><strong>Värde:</strong> <br>{{Completed[3]}} <img src="/static/images/Logotype.png" style="height: 15px; width: 15px;"></small>
          <small class="text-muted"><strong>Avklarad:</strong> <br>{{Completed[7]}} </small>
        </div>
      </div>
    </div>
  </div>
  % end
</div>


% include("_footer2_.html")