/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
        }

        .middle {
          padding: 15px;
          margin: auto;
          background-color: #000000;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          color: #fff;
        }

        .btn-primary {
          background-color: #70C9F4;
          border: #000000;
        }

        .form-control {
          background-color: #282c34;
          border: #000000;
        }

        .form-control input {
          color: #fff;
        }

        .form-control:focus {
          background-color: #282c34;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .masthead-brand {
          text-align: center;
          color: #fff;
        }

        .nav-link {
          color: #70C9F4;
        }
    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
        }

        .middle {
          padding: 15px;
          margin: auto;
          background-color: #000000;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          color: #fff;
        }

        .btn-primary {
          background-color: #70C9F4;
          border: #000000;
        }

        .form-control {
          background-color: #282c34;
          border: #000000;
        }

        .form-control input {
          color: #fff;
        }

        .form-control:focus {
          background-color: #282c34;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .masthead-brand {
          text-align: center;
          color: #fff;
        }

        .nav-link {
          color: #70C9F4;
        }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
        }

        .middle {
          padding: 15px;
          margin: auto;
          background-color: #000000;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          color: #fff;
        }

        .btn-primary {
          background-color: #70C9F4;
          border: #000000;
        }

        .form-control {
          background-color: #282c34;
          border: #000000;
        }

        .form-control input {
          color: #fff;
        }

        .form-control:focus {
          background-color: #282c34;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .masthead-brand {
          text-align: center;
          color: #fff;
        }

        .nav-link {
          color: #70C9F4;
        }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
        }

        .middle {
          padding: 15px;
          margin: auto;
          background-color: #000000;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          color: #fff;
        }

        .btn-primary {
          background-color: #70C9F4;
          border: #000000;
        }

        .form-control {
          background-color: #282c34;
          border: #000000;
        }

        .form-control input {
          color: #fff;
        }

        .form-control:focus {
          background-color: #282c34;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .masthead-brand {
          text-align: center;
          color: #fff;
        }

        .nav-link {
          color: #70C9F4;
        }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
        }

        .middle {
          padding: 15px;
          margin: auto;
          background-color: #000000;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
          color: #fff;
        }

        .btn-primary {
          background-color: #70C9F4;
          border: #000000;
        }

        .form-control {
          background-color: #282c34;
          border: #000000;
        }

        .form-control input {
          color: #fff;
        }

        .form-control:focus {
          background-color: #282c34;
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .masthead-brand {
          text-align: center;
          color: #fff;
        }

        .nav-link {
          color: #70C9F4;
        }

}