/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background: -webkit-linear-gradient(to top right, #7E0F4B, #1A5865);
          background: linear-gradient(to top right, #7E0F4B, #1A5865);
          color: #ffffff;
        }

        .nav-link {
          color: #70C9F4;
        }

        main {
          display: flex;
          justify-content: center;
        }

        .btn-secondary {
          background-color: transparent;
          border: 3px solid #7E0F4B;
          color: #7E0F4B;
        }

        .btn-secondary:hover {
          background: #7E0F4B;
          border: 3px solid #1A5865;
        }

        .btn-lg {
          border-radius: .5rem;
        }

        .lead {
          max-width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        .ThanksBox {
          background: #ffffff;
          color: #000000;
          border: #000000;
          border-radius: 2em;
          padding: 2em;
          box-shadow: 20px 20px 16px -1px rgba(0,0,0,0.66);
        }

        .text-muted {
          color: #ffffff!important;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background: -webkit-linear-gradient(to top right, #7E0F4B, #1A5865);
          background: linear-gradient(to top right, #7E0F4B, #1A5865);
          color: #ffffff;
        }

        main {
          display: flex;
          justify-content: center;
        }

        .nav-link {
          color: #70C9F4;
        }

        .btn-secondary {
          background-color: transparent;
          border: 3px solid #7E0F4B;
          color: #7E0F4B;
        }

        .btn-secondary:hover {
          background: #7E0F4B;
          border: 3px solid #1A5865;
        }

        .btn-lg {
          border-radius: .5rem;
        }

        .lead {
          max-width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        .ThanksBox {
          background: #ffffff;
          color: #000000;
          border: #000000;
          border-radius: 2em;
          padding: 2em;
          box-shadow: 20px 20px 16px -1px rgba(0,0,0,0.66);
        }

        .text-muted {
          color: #ffffff!important;
        }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
          color: #ffffff;
        }

        main {
          display: flex;
          justify-content: center;
        }

        .nav-link {
          color: #70C9F4;
        }

        .btn-secondary {
          background-color: transparent;
          border: 3px solid #7E0F4B;
          color: #7E0F4B;
        }

        .btn-secondary:hover {
          background: #7E0F4B;
          border: 3px solid #1A5865;
        }

        .btn-lg {
          border-radius: .5rem;
        }

        .lead {
          max-width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        .ThanksBox {
          background: #ffffff;
          color: #000000;
          border: #000000;
          border-radius: 2em;
          padding: 2em;
          box-shadow: 20px 20px 16px -1px rgba(0,0,0,0.66);
        }

        .text-muted {
          color: #ffffff!important;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
          color: #ffffff;
        }

        main {
          display: flex;
          justify-content: center;
        }

        .nav-link {
          color: #70C9F4;
        }

        .btn-secondary {
          background-color: transparent;
          border: 3px solid #7E0F4B;
          color: #7E0F4B;
        }

        .btn-secondary:hover {
          background: #7E0F4B;
          border: 3px solid #1A5865;
        }

        .btn-lg {
          border-radius: .5rem;
        }

        .lead {
          max-width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        .ThanksBox {
          background: #ffffff;
          color: #000000;
          border: #000000;
          border-radius: 2em;
          padding: 2em;
          box-shadow: 20px 20px 16px -1px rgba(0,0,0,0.66);
        }

        .text-muted {
          color: #ffffff!important;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html,
        body {
          height: 100%;
        }

        body {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-align: center;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #282c34;
          color: #ffffff;
        }

        main {
          display: flex;
          justify-content: center;
        }

        .nav-link {
          color: #70C9F4;
        }

        .btn-secondary {
          background-color: transparent;
          border: 3px solid #7E0F4B;
          color: #7E0F4B;
        }

        .btn-secondary:hover {
          background: #7E0F4B;
          border: 3px solid #1A5865;
        }

        .btn-lg {
          border-radius: .5rem;
        }

        .lead {
          max-width: 60%;
          margin-left: auto;
          margin-right: auto;
        }

        .ThanksBox {
          background: #ffffff;
          color: #000000;
          border: #000000;
          border-radius: 2em;
          padding: 2em;
          box-shadow: 20px 20px 16px -1px rgba(0,0,0,0.66);
        }

        .text-muted {
          color: #ffffff!important;
        }
}
