body {
    color: #fff;
	font-family:Lato, sans-serif;
}

h2,h3,h4,h5,h6 {
	font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight:700
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border: 2px solid;
    border-radius: 20px;
    min-width: 100px;
}

.btn-primary:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #7E0F4B; 
}

.headlines {
    text-align: center;
    font-family: Russo One;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 20px; 
}

.nav-headline{
    font-family: Russo One;
    font-weight: 300;
}

.TheHome{
    font-family: Russo One;
    font-weight: 300;
}
.form_headline{
    text-align: center;
    font-family: Russo One;
    font-weight: 300;
    padding-bottom: 30px;
}