<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>HomeCoins</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login_page_css/login.css" />
  </head>

  <div class="container" id="container">
    <div class="form-container sign-up-container">
      <form action="/user-registration" method="post">
        <h1>Skapa konto</h1>
        <input type="hidden" id="userRole" name="userRole" value="1" />
        <input
          type="hidden"
          name="inputAdmin4"
          id="inputAdmin4"
          value="True"
          required
        />
        <input
          type="text"
          placeholder="För- & efternamn"
          name="inputUserName4"
          id="inputUserName4"
          required
        />
        <input
          type="email"
          placeholder="Email"
          name="InputUserEmail1"
          id="InputUserEmail1"
          required
        />
        <input
          type="text"
          placeholder="Namnge ditt hem"
          name="inputHomeName4"
          id="inputHomeName4"
          required
        />
        <input
          type="password"
          placeholder="Lösenord"
          name="inputPassword4"
          id="inputPassword4"
          required
        />
        <button>Registrera</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="/user-login" method="post">
        <h1>Logga in</h1>
        <input
          type="email"
          placeholder="Email"
          name="InputUserEmail1"
          id="InputUserEmail1"
          required
        />
        <input
          type="password"
          placeholder="Lösenord"
          name="InputPassword1"
          id="InputPassword1"
          required
        />
        <a href="#">Glömt ditt lösenord?</a> <button>Logga in</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Välkommen tillbaka!</h1>
          <p>
            För att ansluta till vår tjänst, vänligen logga in med dina
            personliga uppgifter
          </p>
          <button class="ghost" id="signIn">Logga in</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hallå Myntet!</h1>
          <p>Ange dina personuppgifter och börja din resa här med oss!</p>
          <button class="ghost" id="signUp">Registrera</button>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/login_page_js/login.js" type="text/javascript"></script>
</html>
